
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1050; 
}

.navbar-brand{
    font-size: 25px;
    font-weight: 600;
}

body {
    margin-top: 56px;
    font-family: "Lato", sans-serif;
}


.dropdown-menu {
    position: static;
}